<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity password="novo0117" userName="primotech21" />
    </system.web>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <add value="default.asp" />
            </files>
        </defaultDocument>
        <urlCompression doDynamicCompression="false" />
    </system.webServer>
</configuration>
