*{
    padding: 0;
    margin: 0;
}

header{
    background: #64b2f5;
}

li a{
	color: #fff !important;
}

.fa-align-right{
	font-size: 20px !important;
}

.nav-tabs{
	padding-left: 25px !important;
}

.fundo-tab{
	background: #D44153;
	margin-top: -5px;
	border-radius: 0 !important;
}

.ui-header .ui-title{
	margin: 20px 0 !important;
}

.ui-page-theme-a .ui-bar-inherit{
	background-color: #D44153 !important;
	color: #fff !important;
	text-shadow:none !important;
	height:78px;
}

.ui-page-theme-a .ui-btn{
	background: #D44153 !important;
	border-color:#D44153 !important; 
	text-shadow:none !important;
	color: #fff !important;
	margin: 15px !important;
	box-shadow: none;
}

.ui-page-theme-a .ui-btn:focus{
	box-shadow: none !important;
}

.ui-body-b{
	background-color:#fff !important;
	border-color:#fff !important;
	color: #393939 !important;
	text-shadow:none !important;
}

.ui-content{
	padding: 0 !important;
}

.ui-page-theme-a .ui-bar-inherit{
	border-color: #D44153 !important;
}

.ui-page-theme-a .ui-panel-wrapper{
	text-shadow:none !important;
}